*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header{
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.one{
    background-color: #14394c;
    color: white;
    padding-top: 5%;
}

.five{
    background-color: #14394c;
    color: white;
}
.seven{
    background-color: #6d1830;
    color: white;
}

.fut{
    list-style: none;
    display: flex;
    gap: 5px;
    margin-left: -30px;
}
@media screen and (max-width:767px) {
    .five .th{
        flex-direction:row-reverse;
        flex-wrap:wrap-reverse;
    }
}