*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.one{
    background-color: #14394c;
    color: white;
    padding-top:13%;
    padding-bottom: 20px;
}

.three{
    background-color: #fff9f2;
}

.four{
    background-color:#fff9f2;
}

.five{
    background-color: #14394c;
    color: white;
    height: 100vh;
}

.six{
    background-color: #6d1830;
    color: white;
}

.fut{
    list-style: none;
    display: flex;
    gap: 5px;
    margin-left: -30px;
}
@media screen and (max-width:767px) {
    .fifth{
        position: relative;
        /* top: -50px;
        left: -120px;
        bottom: 50px; */
    }
}
